* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #1e1e1e;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 500;
}

footer {
  margin: 20px 10px;
  font-size: 14px;
}

a {
  padding-right: 5px;
  color: #fff;
}

select {
  height: 30px;
}

h2 {
  padding: 2px;
}

.pre-chart {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 60px 20px;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: #fff;
  background-color: #1e1e1e;
  margin: 10px;
}

.viz {
  width: calc(100% - 4px);
  height: calc(100% - 40px);
  display: grid;
  grid-template-rows: repeat(11, 80px);
  grid-template-columns: repeat(18, 1fr);
  grid-auto-flow: row;
  background-color: #1e1e1e;
}

.viz__event {
  width: 100%;
  height: 100%;
  position: relative;
}

.viz__event > div:first-child {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.viz__wrapper {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #1e1e1e;
  border: 0.5px solid #fff;
}

.viz__title {
  position: absolute;
  font-size: 12px;
  height: 20px;
  margin: 2px;
}

.viz__item {
  height: 100%;
}

.viz__item text {
  fill: #fff;
}

.country-details {
  background-color: rgb(30, 30, 30, 0.7);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.country-details__forth {
  width: 80vw;
  height: 80vh;
  border: 2px solid #fff;
  background-color: #1e1e1e;
}

.axis path,
.axis line {
  stroke: #fff;
}

.axis text {
  fill: #fff;
}

@media only screen
  and (max-width: 1200px) {
    .viz {
      grid-template-columns: repeat(12, 1fr);
    }
}

@media only screen
  and (max-width: 900px) {
    .viz {
      grid-template-columns: repeat(8, 1fr);
    }
}
